@(form: Form[models.Login])

@head("Login")
	    
	           <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">Sheep Watch</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                        @helper.form(action = routes.Admin.authenticate(), 'class -> "navbar-form pull-right") {
                        	@if(form.hasGlobalErrors) {
                        		<p class="error">
                        			@form.globalError.message
                        		</p>
                        	}
                        	@if(flash.contains("success")) {
                        	<p class="success">
                        		@flash.get("success")
                        	</p>
                        	}
                            <input class="span2" name="username"  type="email" placeholder="Email" value="@form("username").value">
                            <input class="span2" name="password" type="password" placeholder="Password">
                            <button class="btn" type="submit">Sign in</button>
                        }
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">

            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="hero-unit">
                <h1>Sheep Watch Admin</h1>
                <p>After weeks of hard work, the client application of sheep watch is finally live, all though still in development. We are working hard to improve it, so expect a lot of features and content to be added over the next few weeks.</p>
                <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
            </div>

            <!-- Example row of columns -->
            <div class="row">
                <div class="span4">
                    <h2>Logging in</h2>
                    <p>To log in, simply enter your username and password in the top righthand corner, and press "Sign In". This should bring you to the Dashboard, where you can access all features of the Sheep Watch application.</p>
                </div>
                <div class="span4">
                    <h2>Request a beta account</h2>
                    <p>To get access, you need an account. If you do not have an account yet, use the contact link in the menu near the top of the page, and send us a request for a beta account, where you can help us test and improve Sheep Watch.</p>
                    <p><a class="btn" href="#">Request beta access &raquo;</a></p>
               </div>
                <div class="span4">
                    <h2>Get free support</h2>
                    <p>We offer free support to all our customers. To get in touch with our brilliant customer support staff, simply call us at 800-OMGASHEEP or use the Contact link in the menu.</p>
                    <p><a class="btn" href="#">Get help &raquo;</a></p>
                </div>
            </div>

            <hr>

            <footer>
                <p>&copy; Sheep Watch 2012</p>
            </footer>

        </div> <!-- /container -->
		
@footer()
