logs
project/project
project/target
target
tmp
.history
dist

# Build and Release Folders
bin-debug/
bin-release/

# Project property files
.actionScriptProperties
.flexProperties
.settings/
.project
.classpath
conf/application.conf