body {
}

#map-settings {
}

#map-canvas img {
	max-width: none;
}

#sheep-map, #event-map, #map-canvas {
	width: 100%;
	height: 30em;
}

#sheep-table-toolbar {
	padding-right: 30px;
	padding-top: 5px; 
	
}

.accordion-group {
	margin-bottom: 20px;
}

.accordion-heading {
	font-weight: bold;
}

#footer {
	float: bottom;
}

table tr.row-selected td, table tr.row-selected th {
	background-color: #CCC !important;
}

