@() @layout("Home", "Home") {

<!-- /navbar -->
<div class="row-fluid">
	<div class="span8">
			<div class="widget-box">
			<div class="widget-title">
				<a class="accordion-toggle" data-toggle="collapse"
					href="#recent-updates"><span class="icon"><i
						class="icon-arrow-right"></i></span>
					<h5>Some Headline</h5></a>
			</div>

			<div id="recent-updates" class="collapsable-body collapse in">
				<div class="widget-content">Important info goes here...</div>
			</div>
		</div>
	
	</div>
	<div class="span4">
		<div class="widget-box collapsible">
			<div class="widget-title">
				<a class="accordion-toggle" data-toggle="collapse"
					href="#recent-alarms"><span class="icon"><i
						class="icon-arrow-right"></i></span>
					<h5>Recent alarms</h5></a>
			</div>

			<div id="recent-alarms" class="collapsable-body collapse in">
				<div class="widget-content"><ul id="recent-alarms-list"></ul></div>
			</div>
		</div>
		<div class="widget-box collapsible">
			<div class="widget-title">
				<a class="accordion-toggle" data-toggle="collapse"
					href="#recent-updates"><span class="icon"><i
						class="icon-arrow-right"></i></span>
					<h5>Recent Updates</h5></a>
			</div>

			<div id="recent-updates" class="collapsable-body collapse in">
				<div class="widget-content">Recent Updates</div>
			</div>
		</div>

	</div>
</div>


}
