@() @layout("home", "Home") {

<!-- /navbar -->



<div class="span6">
</div>
<div class="span3">
	<div class="accordion" id="accordion2">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="collapsable-toggle accordion-toggle"
					data-toggle="collapse" data-target="#recent-alarms"> Recent
					alarms (Owned)</a>
			</div>
			<div id="recent-alarms" class="collapsable-body collapse in">
				<div class="accordion-inner">loading...</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse"
					data-target="#recent-exceptions">Recent exceptions</a>
			</div>
			<div id="recent-exceptions" class="collapsable-body collapse in">
				<div class="accordion-inner">loading...</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse"
					data-target="#recent-alarms2">Recent alarms (Nearby)</a>
			</div>
			<div id="recent-alarms2" class="collapsable-body collapse in">
				<div class="accordion-inner">Recent alarms content</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse"
					data-target="#map-settings">Map settings</a>
			</div>
			<div id="map-settings" class="collapsable-body collapse in">
				<div class="accordion-inner">
					<div id="map-settings">
						<label class="checkbox"> <input type="checkbox"
							name="group" value="1" /> Show attacks on your animals
						</label> </label> <label class="checkbox"> <input type="checkbox"
							name="group" value="2" /> Show exceptions
						</label> <label class="checkbox"> <input type="checkbox"
							name="group" value="3" /> Show other attacks
						</label>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>

}
