@(title: String)(content: Html) @head(title)

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span>
			</a> <a class="brand" href="#">Sheep Watch</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
					<li><a href="#options">Options</a></li>
					<li><a href="#help">Help</a></li>
				</ul>
				@helper.form(action = routes.Application.search("search"), 'class ->
				"navbar-form pull-left") { <input class="span3 search-query"
					name="search" type="text" placeholder="Search..." /> }
				@helper.form(action = routes.Application.logout(), 'class ->
				"navbar-form pull-right") {
				<button type="submit" class="btn">Sign out</button>
				}
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</div>
<!-- /navbar -->

<div class="container">
	<div class="row">
		<div class="span3"></div>
		<div class="span6">
			<div class="tabbable">
				<ul id="tab-nav" class="nav nav-tabs">
					<li id="map-tab" class="active"><a href="#map-pane"
						data-toggle="tab">Map</a></li>
					<li id="sheep-tab"><a href="#sheep-pane" data-toggle="tab">Sheep</a></li>
					<li id="event-tab"><a href="#event-pane" data-toggle="tab">Events</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="map-pane">
						<div id="map-canvas"></div>
					</div>
					<div class="tab-pane" id="sheep-pane">
						<table id="sheep-list">
							<thead>
								<tr>
									<th>Sheep Id</th>
									<th>Name</th>
									<th>Producer Id</th>
									<th>Date of birth</th>
									<th>Weight</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div class="tab-pane" id="event-pane">
						<table id="event-list">

							<thead>
								<tr>
									<th>Event Id</th>
									<th>Sheep ID</th>
									<th>Type</th>
									<th>Date</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="span3">
			<div class="accordion" id="accordion2">
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="collapsable-toggle accordion-toggle"
							data-toggle="collapse" data-target="#recent-alarms"> Recent
							alarms (Owned)</a>
					</div>
					<div id="recent-alarms" class="collapsable-body collapse in">
						<div class="accordion-inner">Recent alarms content</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse"
							data-target="#recent-exceptions">Recent exceptions</a>
					</div>
					<div id="recent-exceptions" class="collapsable-body collapse in">
						<div class="accordion-inner">Recent alarms content</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse"
							data-target="#recent-alarms2">Recent alarms (Nearby)</a>
					</div>
					<div id="recent-alarms2" class="collapsable-body collapse in">
						<div class="accordion-inner">Recent alarms content</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse"
							data-target="#map-settings">Map settings</a>
					</div>
					<div id="map-settings" class="collapsable-body collapse in">
						<div class="accordion-inner">
							<div id="map-settings">
							<label class="checkbox">
								<input type="checkbox" name="group" value="1"/> Show attacks on your animals</label>
							</label>
								<label class="checkbox">
								<input type="checkbox" name="group" value="2"/> Show exceptions 
								</label>
								<label class="checkbox">
								<input type="checkbox" name="group" value="3"/> Show other attacks
								</label>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>

	<hr>

	<footer>
		<div id="footer">
			<p>&copy; Sheep Watch 2012</p>
		</div>
	</footer>

</div>
<!-- /container -->
@footer()
