@(page: String) 

@active(link : String) = { @if(link == page) { class="active" }}


				<ul>
					<li @active("home")><a href="@routes.Application.index()">Home</a></li>
					<li @active("dashboard")><a href="@routes.Application.manage()">Dashboard</a></li>
					<li @active("sheep")><a href="@routes.Application.manage()">Sheep</a></li>
					<li @active("events")><a href="@routes.Application.manage()">Events</a></li>
					<li @active("contacts")><a href="@routes.Application.settings()">Contacts</a></li>
					<li @active("statistics")><a href="@routes.Application.statistics()">Statistics</a></li>
					<!-- <li @active("about")><a href="@routes.Application.about()">About</a></li>-->
					<li @active("contact")><a href="@routes.Application.contact()">Contact</a></li>
					<li @active("help")><a href="@routes.Application.help()">Help</a></li>
				</ul>


