@(contacts: List[Form[models.Contact]]) 
@layout("settings") {
<div id="settings-page">
	<div class="row">
		<div class="span3">
			<input type="button" id="new-contact-button" class="btn btn-primary"
				value="New contact">
		</div>
	</div>
	<div class="row">
		<div class="span5">
			<div id="contact-forms">
				@for(form <- contacts) { @contactForm(form) }
				
				 @helper.form(action = routes.Contact.add(),'class -> "form-horizontal contact-form",'id -> "new-contact-form", 'style -> "display: none;") {
				 
				<fieldset>
					<legend>New contact</legend>
					<div class="control-group">
						<label class="control-label" for="name">Name</label>
						<div class="controls">
							<input name="name" type="text" placeholder="name">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="email">Email</label>
						<div class="controls">
							<input name="email" type="email" placeholder="email">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="phone">Phone</label>
						<div class="controls">
							<input name="phone" type="number" placeholder="phone number">
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<label class="checkbox" for="emailAlert"> <input
								name="emailAlert" type="checkbox" value="true">Recieve
								email alert
							</label> <label class="checkbox" for="callAlert"> <input
								name="callAlert" type="checkbox" value="true">Recieve
								call alert

							</label> <label class="checkbox" for="smsAlert"> <input
								name="smsAlert" type="checkbox" value="true">Recieve SMS
								alert
							</label>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<input type="button" class="btn btn-danger contact-form-delete disabled"
								data-contact-id="" value="Delete" /> <input type="submit"
								class="btn btn-primary contact-form-save" data-contact-id=""
								value="Save" />
						</div>
					</div>
				</fieldset>
				}
			</div>
		</div>
	</div>
</div>
}