@(form: Form[models.Sheep])


	<ul>
		<li><input type="text" id="idinput" size="25" placeholder="Sheep ID"></li>
		<li>*<input type="text" id="rfidinput" size="25" placeholder="RFID"></li>
		<li><input type="text" id="nameinput" size="25" placeholder="Navn?"></li>
		<li><input type="text" id="weightinput" size="25" placeholder="Vekt (gram)"></li>
		<li><input type="week" id="dateinput" name="bday"></li>
		<li><select id="sex"><option>Female</option><option>Male</option></select></li>
		<li>* Required</li>
		<li><input type="button" id="addButton" value="Add Sheep">
			<input type="button" id="delButton" value="Delete sheep"></li>
	</ul>
